body {
    font-size: 16px;
    color: #fff;
    background-color: #61122f;
    font-family: 'Oxygen', sans-serif;
}

#header-nav {
    background-color: #f6b319;
    border-radius:0;
    border: 0;
}

.container {
    /* Contain the logo-img */
    overflow: hidden;

}


#logo-img {
    background: url('../images/restaurant-logo.png') no-repeat;
    width: 150px;
    height: 150px;
    margin: 20px 20px 10px 30px;
    float: left;
    /* Only display on large and medium screen */
     
  }


.navbar-brand {
    padding-top: 25px;
    }

.navbar-brand h1 { /* Restaurant name */
    font-family: 'Lora', serif;
    color: #557c5e;
    font-size: 1.5em;
    text-transform: uppercase;
    font-weight: bold;
    text-shadow: 1px 1px 1px #222;
    margin-top: 0;
    margin-bottom: 0;
    line-height: .75;
    }

.navbar-brand a:hover, .navbar-brand a:focus {
    text-decoration: none;
    }

.navbar-brand p { /* Kosher cert */
    /* color blue */
    color: #3e5f8a;
    text-transform: uppercase;
    font-size: 1.1em;
    font-weight: bold;
    margin-top: 15px;
    }

.navbar-brand p span { /* Star-K */
    /* Vertical align : Middle */
    display: inline-block;
    }