/* h1 with style at the centre */
h1 {
    text-align: center;
    font-size: 50px;
}

/* Simple Responsive Framework. */
.row {
    width: 100%;    
}

/* model box-sizing */
* {
    box-sizing: border-box;
    margin-top: 20px;
    padding: 0px;
    
}

#title1 {
    position: relative ;
    text-align: center;
    font-size: 30px;
    border : 1px solid black;
    margin-left: 300px;
    margin-right: 0px;
    margin-top: 0px;
    background-color: palevioletred;    
}

#title2 {
    position: relative ;
    text-align: center;
    font-size: 30px;
    border : 1px solid black;
    margin-left: 300px;
    margin-right: 0px;
    margin-top: 0px;
    background-color: yellowgreen;    
}

#title3 {
    position: relative ;
    text-align: center;
    font-size: 30px;
    border : 1px solid black;
    margin-left: 300px;
    margin-right: 0px;
    margin-top: 0px;
    background-color: skyblue;;    
}

/* For Destop */
@media (min-width: 992px) {
    .col-lg-4 {
        width: 33.0%;
        float: left;
        border : 2px solid black;
        padding-left : 10px;
        padding-right :0px;
        margin: 2px;
        overflow: auto;
    }

}

/* For Tablet */
@media (min-width: 768px) and (max-width: 991px) {
    .col-md-6 {
        width: 50%;
        float: left;
        border : 1px solid black;
    }
    .col-md-12 {
        width: 100%;
        float: left;
        border : 1px solid black;
    }


}

/* For Mobile */
@media (max-width: 767px) {
    .col-sm-12 {
        width: 100%;
        float: left;
        border : 1px solid black;
    }

}

