/* h1 with style at the centre */
h1 {
    text-align: center;
    font-size: 50px;
}

/* Simple Responsive Framework. */
.row {
    width: 100%;
}

/* Layout: In the desktop view (992px and above), each of the 3 sections should take up equal amount of space on the screen. As you make the browser window wider or narrower, each section should become wider or narrower. (Hint: use percentages to define width and use the 'float' property. See Lecture 24). For a visual reference of this view, see the desktop mockup illustration below.

Layout: In the tablet view (between 768px and 991px, inclusively), the first 2 sections should be in the first row and be of equal size. The 3rd section should be in the second row and take up the entire row by itself. For a visual reference of this view, see the tablet mockup illustration below.

Layout: In the mobile view (equal to or less than 767px), each section should take up the entire row. For a visual reference of this view, see the mobile mockup illustration below */

/* Section title region: Each section should have a section title region that is always positioned at the top right corner of
 the section no matter the view (desktop, tablet or mobile). Copy the titles from the mockup illustration (i.e., Chicken, Beef, Sushi) or come up with your own */


/* For Destop */
@media (min-width: 992px) {
    .col-lg-4 {
        width: 33.33%;
        float: left;
    }
    .col-lg-12 {
        width: 100%;
        float: left;
    }

    .h2 {
        text-align: right;
        font-size: 30px;
    }

}

/* For Tablet */
@media (min-width: 768px) and (max-width: 991px) {
    .col-md-6 {
        width: 50%;
        float: left;
    }
    .col-md-12 {
        width: 100%;
        float: left;
    }

    .h2 {
        text-align: right;
        font-size: 30px;
    }

}

/* For Mobile */
@media (max-width: 767px) {
    .col-sm-12 {
        width: 100%;
        float: left;
    }

    .h2 {
        text-align: center;
        font-size: 30px;
    }

}

