/* h1 with style at the centre */
h1 {
    text-align: center;
    font-size: 50px;
}

/* Simple Responsive Framework. */
.row {
    width: 100%;    
}

/* model box-sizing */
* {
    box-sizing: border-box;
    
}

.box {
    width: 100%;
    border: 1px solid black;
    overflow: None;
}


.title {
    position: relative;
    text-align: center;
    margin-left: 250px;
    margin-right: 0px;
    margin-top: 0px; 
    font-size: 30px;
    font-weight: bold;
    border: 1px solid black;
}

.name1 {
    background-color: palevioletred;
}

.name2 {
    background-color: lightblue;
}

.name3 {
    background-color: lightgreen;
}

.content {
    position: relative;
    text-align: left;
    margin-left: 0px;
    margin : 20px;   
}




/* For Destop */
@media (min-width: 992px) {
    .col-lg-4 {
        width: 33.0%;
        float: left;
        margin: 2px;
    }


}

/* For Tablet */
@media (min-width: 768px) and (max-width: 991px) {
    .col-md-6, .col-md-12 {
        float: left;  
    }

    .col-md-6 {
        width: 48%;
        margin-right: 2px;
    }

    .col-md-12 {
        width: 96%;
        margin: 4px;
    }

}

/* For Mobile */
@media (max-width: 767px) {
    .col-sm-12 {
        width: 100%;
        float: left;
        margin: 2px;
    }

}

